@model IEnumerable<Client>
@{
    ViewData["Title"] = "Gestão de Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 m-2">
            <h2 class="text-primary">Lista de Clientes</h2>
        </div>
    </div>

    @if (Model is not null)
    {
        <table class="table table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="30%">
                            @obj.FirstName @obj.LastName
                        </td>
                        <td>
                            @obj.Email
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Client" asp-action="Detail" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                    Mais info.
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Sem clientes registados.</h2>
    }



</div>

