@model Client
@{
    ViewData["Title"] = "Home Page";
}

<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registro de Cliente</h2>
                <form method="post">
                    <div class="row row-space">
                        <div class="input-group">
                            <div class="col-2">
                                <input class="input--style-2 me-2" type="text" placeholder="Nome" asp-for="FirstName">
                            </div>
                            <div class="col-2">
                                <input class="input--style-2" type="text" placeholder="Apelido" asp-for="LastName">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Email" asp-for="Email">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-12">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Morada" asp-for="Address">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Código Postal" asp-for="PostalCode">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="localidade" asp-for="City">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <input class="input--style-2" type="text" placeholder="Nº Telefone" asp-for="Phone">
                            </div>
                        </div>
                    </div>
                    <div class="p-t-30">
                        <button class="btn btn--radius btn--green" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>