@{
    ViewData["Title"] = "Registo";
    Layout = "~/Views/Shared/_RegistrationLayout.cshtml";
}
<div class="page-wrapper bg-blue p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
        <div class="card card-2">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Obrigado pelo seu regitro.</h2>
                <a class="btn btn--radius btn-primary" asp-controller="Client" asp-action="Index">Admin</a>
            </div>
        </div>
    </div>
</div>
